name: 91-create-one-off-issues
env:
  GH_TOKEN: ${{ github.token }}
  ASSIGNMENT: team02
  PREV_ASSIGNMENT: team01
  ASN_LINK: https://ucsb-cs156.github.io/s26/lab/team02
  STARTER_REPO: "ucsb-cs156-s26/STARTER-team02"
  FRONTEND_URL: "{ \"UCSBDiningCommonsMenuItem\": \"diningcommonsmenuitem\", \"UCSBOrganization\": \"ucsborganization\", \"RecommendationRequest\": \"recommendationrequest\", \"MenuItemReview\": \"menuitemreview\", \"HelpRequest\": \"helprequest\", \"Articles\": \"articles\" }"
  FIXTURES: "{ \"UCSBDiningCommonsMenuItem\": \"ucsbDiningCommonsMenuItem\", \"UCSBOrganization\": \"ucsbOrganization\", \"RecommendationRequest\": \"recommendationRequest\", \"MenuItemReview\": \"menuItemReview\", \"HelpRequest\": \"helpRequest\", \"Articles\": \"articles\" }"
  LABEL_COLOR: "{ \"UCSBDiningCommonsMenuItem\": \"ff0000\", \"UCSBOrganization\": \"00ff00\", \"RecommendationRequest\": \"0000ff\", \"MenuItemReview\": \"ff00ff\", \"HelpRequest\": \"ffff00\", \"Articles\": \"00ffff\" }"
  REPO_FILE: https://github.com/${{github.repository}}/blob/main
  NVM_USE: "`nvm use 22.18.0`"
  SAMPLE_TEAM: s26-05
on:
  workflow_dispatch:
  workflow_call:

         
jobs:
  createOneOffIssues:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Delete label setup
        continue-on-error: true
        run: |
            gh api \
                  --method DELETE \
                  -H "Accept: application/vnd.github+json" \
                  -H "X-GitHub-Api-Version: 2022-11-28" \
                  /repos/${{github.repository}}/labels/setup 
      - name: Add Label setup
        continue-on-error: true
        run: |
          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${{github.repository}}/labels \
            -f name='setup' \
            -f description='One time tasks to divide among all team members' \
            -f color='dddddd' 
            
      - name: Add table to README.md
        uses: dacbd/create-issue-action@main
        with:
          token: ${{ github.token }}
          title: Add table to README.md
          labels: "setup"
          body: |
            # Acceptance Criteria:
            - [ ] The README.md has a table at the top like the one shown below
                  indicating which team member is initially taking on
                  which database table, and which is unassigned.
                  
                  ```
                  | Table                       | Team Member  | Github Id     |
                  |-----------------------------|--------------|---------------|
                  | `UCSBDiningCommonsMenuItem` | Alice        | alice33       |
                  | `UCSBOrganization`          | (unassigned) |               |
                  | `RecommendationRequest`     | Bob          | robertg       |
                  | `MenuItemReview`            | Charlie      | gauchocharlie |
                  | `HelpRequest`               | Danielle     | danielle      |
                  | `Articles`                  | Eddie        | eddydp        |
                  ```

      - name: Set up GitHub Pages
        uses: dacbd/create-issue-action@main
        with:
          token: ${{ github.token }}
          title: Set up Github Pages
          labels: "setup"
          body: |
            # Acceptance Criteria:
            - [ ] Github Pages is active, using the `gh-pages` branch and the root directory
            - [ ] The main page of the repo has a link to the Github Pages site in the right side bar
            - [ ] The links on the Github Pages site work properly.
            - [ ] A `PROJECT_CHROMATIC_TOKEN` value is set correctly for the team's repo (this only needs to be done once)

            # Details

            See the file  [`docs/github-pages.md`](/${{env.STARTER_REPO}}/blob/main/docs/github-pages.md) in the repo for details
      
      - name: Set up Team prod deployment
        uses: dacbd/create-issue-action@main
        with:
          token: ${{ github.token }}
          title: Set up Team prod deployment
          labels: "setup"
          body: |
            # Acceptance Criteria:
            - [ ] An app named <tt>${{env.ASSIGNMENT}}</tt> is created on this team's dokku server.
            - [ ] An database is configured for that app (see: <https://ucsb-cs156.github.io/topics/dokku/postgres_database.html>)
            - [ ] The ADMIN_EMAILS are configured for that app.
                  * You should find the ones you need in a pinned post on your team's Slack channel.
                  * Instructions for configuring the variable are here: <https://ucsb-cs156.github.io/topics/dokku/environment_variables.html>
            - [ ] Google OAuth is configured for that app.
                  * Instructions for configuring OAuth credentials are here: <https://ucsb-cs156.github.io/topics/oauth/oauth_google_setup.html>
                  * Then you need to use the instructions here to configure the environment variables `GOOGLE_CLIENT_ID` and `GOOGLE_CLIENT_SECRET`: <https://ucsb-cs156.github.io/topics/dokku/environment_variables.html>
            - [ ] HTTPS is configured for that app (see: <https://ucsb-cs156.github.io/topics/dokku/enabling_https.html>)
            - [ ] The main branch is deployed on Dokku at, for example,
                  <https://${{env.ASSIGNMENT}}.dokku-xx.cs.ucsb.edu> (substituting your
                  own Dokku instances for xx).
            - [ ] Everyone on the team, and the instructor and TAs, are all able to 
                  login with OAuth and see that they have admin privileges.

            # Details

            See the file  [`docs/dokku.md`](/${{env.STARTER_REPO}}/blob/main/docs/dokku.md) in the repo for details.

      - name: Set up Team qa deployment
        uses: dacbd/create-issue-action@main
        with:
          token: ${{ github.token }}
          title: Set up Team qa deployment
          labels: "setup"
          body: |
            # Acceptance Criteria:

            - [ ] An app named <tt>${{env.ASSIGNMENT}}-qa</tt> is created on this team's dokku server.
            - [ ] An database is configured for that app (see: <https://ucsb-cs156.github.io/topics/dokku/postgres_database.html>)
            - [ ] The ADMIN_EMAILS are configured for that app.
                  * You should find the ones you need in a pinned post on your team's Slack channel.
                  * Instructions for configuring the variable are here: <https://ucsb-cs156.github.io/topics/dokku/environment_variables.html>
            - [ ] Google OAuth is configured for that app.
                  * Instructions for configuring OAuth credentials are here: <https://ucsb-cs156.github.io/topics/oauth/oauth_google_setup.html>
                  * Then you need to use the instructions here to configure the environment variables `GOOGLE_CLIENT_ID` and `GOOGLE_CLIENT_SECRET`: <https://ucsb-cs156.github.io/topics/dokku/environment_variables.html>
            - [ ] The main branch is deployed on Dokku at, for example,
                  <https://${{env.ASSIGNMENT}}-qa.dokku-xx.cs.ucsb.edu> (substituting your
                  own Dokku instances for xx).
            - [ ] Everyone on the team, and the instructor and TAs, are all able to 
                  login with OAuth and see that they have admin privileges.
            - [ ] HTTPS is configured for that app (see: <https://ucsb-cs156.github.io/topics/dokku/enabling_https.html>)
                  
           
            # Details

            Set up a separate Dokku instance for QA.  Adapt the instructions from 
            the file [`docs/dokku.md`](/${{env.STARTER_REPO}}/blob/main/docs/dokku.md) in the repo.  The QA (quality assurance) instance
            starts with the main branch, but later on, you will be able to deploy
            any branch to this instance. You typically do this when you have a PR
            that is being code reviewed.  You can use the your team's Slack channel
            to coordinate who is deploying what to QA at any given time.


      - name: Adjust links in README.md
        uses: dacbd/create-issue-action@main
        with:
          token: ${{ github.token }}
          title: Adjust title and links in README.md
          labels: "setup"
          body: |
            ## Acceptance criteria
            - [ ] The title of the README.md file is changed from <tt>STARTER-${{env.ASSIGNMENT}}</tt> to the name of the app (e.g. <tt>${{env.ASSIGNMENT}}-${{env.SAMPLE_TEAM}}</tt>)
            - [ ] The README.md file is updated with links to the prod and qa instances on dokku.
            - [ ] The README.md file is updated with any other links as specified in the instructions.
            
            ## Details
            
            See the README.md file in the repo for details.
  
   
      - name: Submit for Grading
        uses: dacbd/create-issue-action@main
        with:
          token: ${{ github.token }}
          title:  Submit for Grading
          labels: "setup"
          body: |

            This issue should be the very *last* one that the team drags into the "done" column;
            it signifies that the sprint is complete, and that the project is ready for the
            staff to review it for a grade.

            ## Acceptance criteria
  
            - [ ] All PRs have been code reviewed and merged to main
            - [ ] All issues are in the done column 
            - [ ] The `main` branch (after all PRs merged) has been reployed to the dokku instance with the <tt>dokku git:sync ${{env.ASSIGNMENT}} <i>url</i> main</tt> and <tt>dokku ps:rebuild ${{env.ASSIGNMENT}}</tt> commands
            - [ ] The assignment has been submitted on Canvas
            
            ## Details
            
            See the assignment description at ${{env.ASN_LINK}} for details.
